* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #000;
}

header {
    width: 100%;
    height: 80px;
    background-color: #000;
    margin-bottom: 4%;
    font-family: 'Montserrat', sans-serif;
    position: sticky;
    top: 0%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.perfil_inicial {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.perfil_header {
    border-radius: 50%;
}

.usuario {
    color: #fff;
    margin-left: 10px;
}

main {
    margin-top: 0%;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Varela Round', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Varela Round', sans-serif;
    color: #fff;
    text-align: center;
}

table {
    color: #fff;
    width: 100%;
    margin-left: 8%;
    height: 30%;
    border-collapse: collapse;
}

table tr td {
    padding: 1px;
}

table tr:hover {
    background-color: rgba(25, 76, 216, 0.61);
    transition: 300ms;
}

table tr:hover img{
    width: 140px;
    height: 140px;
    transition: 300ms;
}

.capa {
    width: 60px;
    height: 60px;
    margin-right: 10px;
    transition: 300ms;
}

.artista {
    font-weight: bold;
}

.center_table {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.position {
    text-align: center;
    font-size: 200%;
    font-weight: bold;
    padding: 10px;
}

/* caixa do perfil */

.secao {
    width: 100%;
    margin-top: 4%;
    margin-bottom: 3%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.profile {
    width: 70%;
    height: 300px;
    background-color: #EDEEE9;
    margin-left: 20%;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
}

.header_profile {
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: rgb(74, 74, 238);
    /* border-bottom: 3px solid #000; */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.header_profile p {
    margin-top: 85px;
    margin-left: 10px;
    font-size: 14pt;
    font-weight: bold;
}

.imagem_header_profile {
    width: 80px;
    height: 80px;
    /* border: 3px solid #000; */
    margin-top: 30px;
    margin-left: 30px;
    border-radius: 50%;
}

.baixo_perfil {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.favorite {
    background: url('imagens/shyaway.jpg');
    background-size: cover;
    margin-top: 60px;
    width: 140px;
    height: 140px;
    border-radius: 10px;
    margin-left: 25px;
}

.biografia {
    width: 45%;
    height: 120px;
    border-radius: 10px;
    background-color: rgba(112, 128, 144, 0.658);
    margin-top: 60px;
    padding: 10px;
    margin-left: 35px;
}
/* caixa do perfil */

/* caixa da página */

.caixa {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Varela Round', sans-serif;
    margin-top: 80px;
    margin-bottom: 40px;
    padding-top: 10px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    background-color: #EDEEE9;
}

h1, .title {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Varela Round', sans-serif;
    color: #fff;
}

.trending {
    margin-top: 90px;
    text-align: center;
    color: #000;
    text-shadow: 1px 1px 50px rgba(241,251,8,1);
}

.album {
    width: 200px;
    height: 200px;
    background-size: cover;
    opacity: 50%;
}

.album:hover {
    opacity: 100%;
}

.caixa_texto {
    font-size: small;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Varela Round', sans-serif;
    font-weight: bold;
    position: absolute;
    margin-top: -30px;
    padding-top: 10px;
    background-color: black;
    color: #FFF;
    width: 200px;
    height: 25px;
    text-align: center;
}

.caixa1 {
    width: 200px;
    height: 200px;
    background-color: rgb(190, 183, 183);
}

.caixa2 {
    width: 200px;
    height: 200px;
    background-color: rgb(190, 183, 183);
}

.caixa3 {
    width: 200px;
    height: 200px;
    background-color: rgb(190, 183, 183);
}

/* caixa */

/* clipes */

.detalhe {
    width: 100%;
    margin-top: 4%;
    margin-bottom: 3%;
}

.gifs {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.teste {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Varela Round', sans-serif;
    font-size: 100%;
    text-align: center;
    color: #fff;
    padding: 8px;
    margin: 30px;
    margin-top: 70%;
    color: transparent;
    transition: 300ms;
    border-radius: 10px;
}

.teste:hover {
    background-color: rgba(255, 255, 255, 0.781);
    color: #000;
    transition: 400ms;
    max-height: 90%;
}

.operaria1 {
    width: 250px;
    height: 250px;
    background: url('imagens/DawnFM.jpg');
    background-size: cover;
    transition: 400ms;
}

.operaria1:hover {
    background: url('imagens/gifs/dawnfmgif.gif');
    background-size: cover;
    transition: 400ms;
}

.operaria2 {
    width: 250px;
    height: 250px;
    background: url('imagens/lifesupport.png');
    background-size: cover;
    transition: 300ms;
}

.operaria2:hover {
    background: url('imagens/gifs/lifesupportgif.gif');
    background-size: cover;
    transition: 300ms;
}

.operaria3 {
    width: 250px;
    height: 250px;
    background: url('imagens/sour.jpg');
    background-size: cover;
    transition: 300ms;
}

.operaria3:hover {
    background: url('imagens/gifs/sourgif.gif');
    background-size: cover;
    transition: 300ms;
}

/* clipes */

/* Footer */

.pagina_footer {
    height: 30vh;
    background-color: #000;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.pag1 {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    margin-top: 3%;
}

.pag3 {
    display: flex;
    justify-items: center;
    align-items: center;
}

.pag1 p {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Varela Round', sans-serif;
    padding: 10px;
    color: #fff;
}

.pag1 a {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Varela Round', sans-serif;
    color: #fff;
    text-decoration: underline;
    transition: 300ms;
}

.pag1 a:hover {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Varela Round', sans-serif;
    color: #fff;
    text-decoration: none;
    font-size: 120%;
    transition: 300ms;
}

/* Footer */